input{
font-family: "Britannic Bold";
font-size: 20px;
    text-decoration-color: saddlebrown;
    padding: 19px;
    background-color: saddlebrown;
}
label{
    font-family: "Britannic Bold";
    font-size: 25px;
text-decoration-color: black;
padding: 15px;




}

