textarea{
    height: 100px;
}
body{
    font-family: "Britannic Bold";
    background-color: lightslategray;
    margin: 0;
    padding: 0;
    display: block;
justify-content: center;
align-content: center;
    color: oldlace;
    height: 90vh;
    font-size: 25px;
}
#form-container{
    background-color: saddlebrown;
    padding: 20px;
    border
}